{% extends 'base.html' %}

{% block title %}
    Create Project
{% endblock title %}
{% block content %}
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create Project</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock %}
