{% extends 'base.html' %}

{% block title %}
    Projects Details
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ task_details.name }}</h1>
            <p>This is a project description</p>
            <h2>Tasks</h2>
            <p>
                {% if user.is_authenticated %}
                    <a href="{% url "create_task" %}">Create Task</a>
                {% endif %}
            </p>
            {% if task_details.tasks.all|length >= 1 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for task in task_details.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.assignee }}</td>
                                <td>{{ task.start_date }}</td>
                                <td>{{ task.due_date }}</td>
                                <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock %}
