{% extends 'base.html' %}

{% block title %}
    Tasks List
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <p>
                {% if user.is_authenticated %}
                    <a href="{% url "create_task" %}">Create Task</a>
                {% endif %}
            </p>
            {% if task_list|length >= 1 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for tasks in task_list %}
                            <tr>
                                <td>{{ tasks.name }}</td>
                                <td>{{ tasks.start_date }}</td>
                                <td>{{ tasks.due_date }}</td>
                                <td>{{ tasks.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock %}
